
<div ng-controller="atribuirWorkoutCtrl as ctrl">
	
	<h2> Atribuir workout </h2>
	
	<h2> Lista de workouts cadastrados </h2>
	<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
				<th scope="col"> Nome </th>
				<th scope="col"> Exercicios </th>
			</tr>
		</thead>
		<tr ng-repeat="treino in ctrl.listaTreinos">
			<td scope="row"> {{treino.nome}} </td>
			<td>
				<ul>
					<li ng-repeat="exo in treino.listaExos"> 
						{{exo.nome}}  {{exo.repeticoes}} repetições					 
					</li>
				</ul>
			</td>			
		</tr>			
	</table>
	
	<br><br>
	<table class="table table-striped">
		<tr>
			<th> Equipe </th>
			<th> Workout </th>
			<th> Número de exercícios </th>
			<th>  </th>
		</tr>
		<tr>
			<td style="width: 200px;"> <input type="text"> </td>
			<td> 
				<select class="form-control" style="width: '200px'" ng-model="ctrl.treinoParaEnviar" ng-options="treino.nome for treino in ctrl.listaTreinos">				
				</select>			
			</td>			
			<td> {{ ctrl.treinoParaEnviar.listaExos.length }} </td>
			<td> <input type="button" value="Enviar" ng-click="ctrl.enviar(ctrl.treinoParaEnviar)"> </td>
		</tr>

	</table>
	<br>
	<input type="button" value="Enviar todos" class="btn btn-success">
	<input type="button" value="Voltar" 	  class="btn btn-primary" ng-click="ctrl.voltar()">

</div>