
<div ng-controller="cadastraWorkoutCtrl as ctrl">

	<h2> Cadastro de Workout </h2>
	<form>
	<div class="row">
		<div class="col-md-3">
			Entre como o número do Workout a ser cadastrado<br>
			<input ng-model="ctrl.nome">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			Exercício
			<input class="form-control" style="width: '200px'" ng-model="ctrl.exo">							
		</div>
		<div class="col-md-6">
			Repetições<br>
			<input ng-model="ctrl.qtdade">
		</div>
	</div>
	</form>
	<br>

	<input type="button" value="Adicionar" class="btn btn-primary" ng-click="ctrl.addExo()">

	<br><br>
	<table class="table table-striped">
		<tr>
			<td> Exercício </td>
			<td> Repetições </td>
		</tr>
		<tr ng-repeat="x in ctrl.listaWorkouts | orderBy:$index">
			<td> {{x.nome}} </td>
			<td> {{x.repeticoes}} </td>
		</tr>
	</table>



	<div class="form-group">
		<div class="col-md-9">
			<input type="button" ng-click="ctrl.cadastra()" class="btn btn-success" value="Cadastra workout">

			<!-- <input type="button" ng-click="ctrl.buscaWorkout()" class="btn btn-warning" value="Buscar workouts"> -->
		</div>
<!--	<div class="col-md-3">
			<input type="button" ng-click="ctrl.redirecionaStats()" class="btn btn-info" value="Estatísticas">
		</div>			 -->
	</div>
	<input type="button" value="Voltar" class="btn btn-primary" ng-click="ctrl.voltar()">

</div>